*{
    margin: 0;
}

header {
    background-color: black;
}
h1{
    color: brown;
}
a{
    color: brown;
    text-decoration: none;
}
img{
    width: 300px;
}
figcaption{
    color: brown;
}
div{
    border: solid black 5px;
    width: 300px;
}

footer{
    background-color: rgb(40, 39, 39);
}
li{
    color: brown;
}